@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #ffffff;
  --text-color: #171717;
  --primary: #fbfbfd;
  --secondary: #059669;
  --tertiary: #059669;
  --quaternary: #000000;
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary: #0f172a;
  --secondary: #059669; /* Changer les couleurs du mode sombre */
  --tertiary: #059669;
  --quaternary: #ffffff;
}

/* Scrollbar styling */
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.horizontal-scrollbar-hidden {
  overflow-x: auto;
  overflow-y: visible; /* Conserve la scrollbar verticale */
}

.horizontal-scrollbar-hidden::-webkit-scrollbar:horizontal {
  display: none;
}

.horizontal-scrollbar-hidden {
  scrollbar-width: thin; /* Pour les navigateurs supportant scrollbar-width */
  scrollbar-color: transparent transparent;
}
